name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Download zig
        run: wget https://ziglang.org/builds/zig-linux-x86_64-0.12.0-dev.3508+a6ed3e6d2.tar.xz

      - name: Extract 
        run: tar -xf zig-linux-x86_64-0.12.0-dev.3508+a6ed3e6d2.tar.xz  

      - name: Alias
        run: alias zig=$PWD/zig-linux-x86_64-0.12.0-dev.3508+a6ed3e6d2/zig

      - name: Version
        run: $PWD/zig-linux-x86_64-0.12.0-dev.3508+a6ed3e6d2/zig version
        
      - name: Test
        run: $PWD/zig-linux-x86_64-0.12.0-dev.3508+a6ed3e6d2/zig build test
